body {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-family: "PT Sans", "Arial", sans-serif;

}
.container {
  width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.header-topblock {
  background-color: #293449;
}
.header-topblock .container{
  font-size: 0;
}
.logo {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  background-color: #ee3643;
  box-shadow: 0px 5px 0px 0px #9c2730;
}
.logo-conditions:hover {
  background-color: #ca2c37;
  box-shadow: 0px 5px 0px 0px #9a212a;
}
.logo-conditions:active {
  background-color: #ba2732;
  box-shadow: 0px 5px 0px 0px #8e1e26;
}
.logo-text {
  display: block;
  margin-left: 55px;
  margin-top: 11px;
  margin-bottom: 7px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
}
.search {
  display: inline-block;
  vertical-align: top;
}
.search-form input {
  width: 270px;
  height: 42px;
  font-size: 17px;
  line-height: 18px;
  padding-left: 48px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  background-color: #293449;
  border-style: none;
  color: #ffffff;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -2px -1721px;
  outline: none;
}


/*.search-form input {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: transparent url("../img/sprite.png") no-repeat;
  width: 17px;
  height: 17px;
  background-position: -177px -127px;
  z-index: 2;
}*/

/*.search-form:hover::before {
  width: 17px;
  height: 17px;
  background-position: -126px -154px;
}
.search-form:focus::before {
  width: 17px;
  height: 17px;
  background-position: -32px -154px;
}*/
.search-form input:hover {
  background-color: #212a3a;
  background-position: -2px -1892px;
}
.search-form input:focus {
  background-color: #ffffff;
  color: #000000;
  background-position: -2px -1835px;
}
.search-form input::-webkit-input-placeholder {
  color:#ffffff;
  opacity: 1;
}
.search-form input::-moz-placeholder {
  color:#ffffff;
  opacity: 1;
}/* Firefox 19+ */
.search-form input:-moz-placeholder {
  color:#ffffff;
  opacity: 1;
}/* Firefox 18- */
.search-form input:-ms-input-placeholder {
  color:#ffffff;
  opacity: 1;
}
.bookmark, .basket, .order {
  display: inline-block;
  vertical-align: top;
}
.bookmark a, .basket a, .order a{
  display: inline-block;
  font-size: 17px;
  line-height: 18px;
  width: 150px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  color: #ffffff;
  padding-top: 11px;
  padding-bottom: 13px;
  box-sizing: border-box;
}
.bookmark a:hover, .basket a:hover {
  background-color: #212a3a;
}
.bookmark a:active, .basket a:active {
  background-color: #161d29;
  color: #babbbd
}
.bookmark a {
  padding-left: 44px;
  box-sizing: border-box;
  position: relative;
}
.bookmark a::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  background: transparent url("../img/sprite.png") no-repeat;
  width: 14px;
  height: 16px;
  background-position: -21px -243px;
}
.bookmark a:hover::before {
  width: 14px;
  height: 16px;
  background-position: -21px -299px;
}
.bookmark a:active::before {
  width: 14px;
  height: 16px;
  background-position: -21px -187px;
}
.basket a {
  padding-left: 49px;
  box-sizing: border-box;
  position: relative;
}
.red-basket {
  background-color: #ee3643;
}
.basket a::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  background: transparent url("../img/sprite.png") no-repeat;
  width: 17px;
  height: 16px;
  background-position: -21px -74px;
}
.basket a:hover::before {
  width: 17px;
  height: 16px;
  background-position: -21px -130px;
}
.basket a:active::before {
  width: 17px;
  height: 16px;
  background-position: -21px -18px;
}
.order a {
  text-align: center;
  background-color: #63a63e;
}
.order a:hover {
  background-color: #5fbb2d;
}
.order a:active {
  background-color: #518534;
  color: #b1c5a8;
}
.header-middleblock {
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #f1f5f7;
  padding-top: 46px;
  padding-bottom: 60px;
}
.header-text {
  float: left;
  width: 200px;
  margin-left: 52px;
  margin-top: 2px;
  vertical-align: top;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ee3643;
}
.header-contacts {
  float: left;
  width: 270px;
  margin-left: 65px;
  margin-right: 50px;
}
.header-phone {
  margin: 0;
  width: 270px;
  height: 45px;
  text-align: center;
  padding-top: 9px;
  padding-left: 26px;
  margin-bottom: 3px;
  font-size: 21px;
  line-height: 18pt;
  border: 3px solid white;
  box-sizing: border-box;
  color: #e9292a;
  position: relative;
}
.header-phone::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 13px;
  background: transparent url("../img/sprite.png") no-repeat;
  width: 19px;
  height: 19px;
  background-position: -21px -1543px;
}
.header-address {
  margin: 0;
  margin-top: 3px;
  padding-left: 12px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.user-block {
  float: right;
  max-width: 300px;
  font-size: 0;
  position: relative;
}
.singin {
  display: inline-block;;
  width: 120px;
  height: 45px;
  text-decoration: none;
  font-size: 21px;
  padding-left: 46px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #000000;
  position: relative;
}
.singin::before {
  content: "";
  position: absolute;
  background: transparent url("../img/sprite.png") no-repeat;
  top: 14px;
  left: 15px;
  width: 20px;
  height: 17px;
  background-position: -22px -1371px;
}
.singin:hover::before {
  background-position: -22px -1485px;
}
.singin:active::before {
  background-position: -22px -1428px;
}
.signup {
  display: inline-block;
  width: 150px;
  height: 45px;
  margin-left: 10px;
  text-decoration: none;
  font-size: 21px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #000000;
}
.singin:hover, .signup:hover {
  color: #ee3643;
}
.singin:active, .signup:active {
  color: #cacaca;
}
.menu {
  margin-top: 25px;
  height: 55px;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
  padding: 0;
}
.menu-list {
  font-size: 0;
  padding-left: 23px;
  list-style: none;
}
.menu-item {
  display: inline-block;
  vertical-align: top;
}
.menu-link {
  display: block;
  padding-top: 19px;
  padding-right: 30px;
  padding-bottom: 24px;
  padding-left: 30px;
  font-size: 17px;
  line-height: 17px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}
.menu-link:hover {
  background-color: #293449;
}
.menu-link:active {
  background-color: #1d2739;
  color: #a8abaf;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-content {
  margin-top: 59px;
}
.catalog-content {
  margin-bottom: 53px;
}
.column-left {
  float: left;
  width: 620px;
  font-size: 0;
}
.column-right {
  float: right;
  width: 300px;
  font-size: 0;
}
.column-right .catalog-part .article-btn {
  margin-left: 23px;
}
.catalog-part {
  display: inline-block;
  width: 300px;
  min-height: 123px;
  vertical-align: top;
  font-size: 14px;
  margin-bottom: 20px;
  position: relative;
}
.catalog-part:last-child {
  margin-bottom: 0;
}
.new::after {
  content: "";
  top: 0;
  right: 0;
  position: absolute;
  z-index: 100;
  background: transparent url("../img/sprite.png") no-repeat;
  width: 60px;
  height: 59px;
  background-position: -20px -2187px;
}
.article-name {
  width: 170px;
  margin-left: 23px;
  margin-top: 20px;
  margin-bottom: 13px;
  font-size: 24px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  color: #ffffff;
}
.article-btn {
  display: inline-block;
  width: 135px;
  margin-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 22px;
  vertical-align: top;
  text-align: center;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  border-radius: 2px;
}
.article-btn:hover {
  background: rgba(0, 0, 0, 0.2);
}
.article-btn:active {
  background: rgba(0, 0, 0, 0.3);
}
.materials {
  margin-right: 20px;
  background-color: #f6b22d;
  background-image: url(../img/materials.png);
  background-position: 83% 53%;
  background-repeat: no-repeat;
}
.tools{
  background-color: #4aafde;
  background-image: url(../img/tools.png);
  background-position: 88% 53%;
  background-repeat: no-repeat;
}
.equipment{
  background-color: #cc79d1;
  background-image: url(../img/equipment.png);
  background-position: 86% 50%;
  background-repeat: no-repeat;
}
.sale{
  background-color: #85d179;
  background-image: url(../img/sale.png);
  background-position: 81% 50%;
  background-repeat: no-repeat;
}
.delivery{
  background-color: #f6b22d;
  background-image: url(../img/delivery.png);
  background-position: 86% 51%;
  background-repeat: no-repeat;
}
.catalog-sliders {
  position: relative;
  width: 620px;
  min-height: 266px;
  margin: 0 auto;
  overflow: hidden;
}
.slide-1{
  min-height: 266px;
  background-image: url(../img/slide1.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}
.slide-2 {
  min-height: 266px;
  background-image: url(../img/slide2.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}
.slide-1, .slide-2 {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  min-height: 266px;

  -webkit-transition: left 0.3s ease;
     -moz-transition: left 0.3s ease;
          transition: left 0.3s ease;
}
.catalog-sliders input[type=radio] {
  display: none;
}
.slider-controls {
  position: absolute;
  bottom: 29px;
  left: 50%;
  z-index: 10;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 3px;
  vertical-align: middle;
  background: #ffffff;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label[for="btn-1"]::before {
  content: "";
  top: -99px;
  left: -185px;
  position: absolute;
  z-index: 100;
  background: transparent url("../img/sprite.png") no-repeat;
  width: 22px;
  height: 40px;
  background-position: -20px -1291px;
}
.slider-controls label[for="btn-2"]::after {
  content: "";
  top: -99px;
  left: 368px;
  position: absolute;
  z-index: 100;
  background: transparent url("../img/sprite.png") no-repeat;
  width: 22px;
  height: 40px;
  background-position: -20px -1601px;
}
.slide-1 {
  display: block;
}
.slide-2 {
  display: none;
}
#btn-1:checked ~ .slides .slide-1 {
  display: block;
}

#btn-1:checked ~ .slides .slide-2 {
  display: none;
}

#btn-2:checked ~ .slides .slide-1 {
  display: none;
}

#btn-2:checked ~ .slides .slide-2 {
  display: block;
}
.slider-controls label[for="btn-1"] {
  background-color: #ee3643;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"] {
  background-color: #ee3643;
}
#btn-1:checked ~ .slider-controls label[for="btn-2"] {
  background-color: #fff;
}
#btn-2:checked ~ .slider-controls label[for="btn-1"] {
  background-color: #fff;
}
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background-color: #ee3643;
}
.slider-name {
  display: inline-block;
  margin-top: 29px;
  margin-left: 24px;
  margin-bottom: 0;
  font-size: 36px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}
.slider-description {
  margin-top: -5px;
  margin-left: 25px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "PT Sans", "Arial", sans-serif;
}
.slider-btn {
	display: inline-block;
	padding-left: 48px;
	padding-right: 46px;
	margin-left: 26px;
	margin-top: 122px;
	padding-top: 11px;
	padding-bottom: 9px;
	vertical-align: top;
	text-align: center;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #ee3643;
	color: #ffffff;
	border-radius: 2px;
}
.slider-btn:hover {
  background-color: #ca2c37;
}
.slider-btn:active {
  background-color: #ba2732;
}

.popular-producers {
  margin-bottom: 65px;
}
.popular-block {
  margin-bottom: 20px;
  background-color: #f7f3ec;
}
.popular-heading {
  float: left;
  width: 500px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 28px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: 400;
}
.popular-btn {
  float: right;
  min-width: 203px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 25px;
  margin-right: 24px;
  margin-bottom: 25px;
  vertical-align: top;
  text-align: center;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ee3643;
  color: #ffffff;
  border-radius: 2px;
}
.popular-btn:hover {
  background-color: #ca2c37;
}
.popular-btn:active {
  background-color: #ba2732;
}
.actions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: #fff;
}

.actions .buy,
.actions .inbookmarks {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  display: block;
  width: 135px;
  margin: 0 auto 7px;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background-color: #63a63e;
  text-align: center;
}

.actions .buy {
  box-shadow: inset 0 -3px 0 #367315;
}
.actions .buy:hover {
  background-color: #5fbb2d;
}
.actions .buy:active {
  background-color: #518534;
  box-shadow: inset 0 -3px 0 #518534;
}

.actions .inbookmarks {
  width: 129px;
  padding: 7px 0;
  color: #32425c;
  border: 3px solid #63a63e;
  background-color: #fff;
}
.actions .inbookmarks:hover {
  border: 3px solid #32425c;
}
.actions .inbookmarks:active {
  border: 3px solid #c1c6ce;
  color: #d0d2d6;
}
.catalog {

}
.index-catalog-items, .catalog-items {
  font-size: 0;
}
.catalog-item {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  vertical-align: top;
  max-width: 220px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
}
.catalog-item:hover {
  -webkit-box-shadow: 0 15px 25px #abafb8;
  -moz-box-shadow: 0 15px 25px #abafb8;
  box-shadow: 0 15px 25px #abafb8;
}
.catalog-item:hover .actions {
  display: block;
}
.index-catalog-items .catalog-item:nth-child(4n) {
  margin-right: 0;
}
.catalog-items .catalog-item:nth-child(3n) {
  margin-right: 0;
}
.catalog-item img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.item-name {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
  margin-top: -1px;
  text-align: center;
  font-weight: 700;
  color: #000000;

}
.old-price {
  display: inline-block;
  width: 220px;
  min-height: 17px;
  font-size: 17px;
  line-height: 18px;
  margin: 0;

  text-align: center;
  color: #999999;
  text-decoration: line-through;
}

.new-price {
	display: block;
  margin-top: 3px;
  margin-left: 42px;
  margin-right: 20px;
  margin-bottom: 19px;
  padding-left: 35px;
  padding-right: 25px;
  padding-top: 11px;
  padding-bottom: 11px;
	font-size: 17px;
	line-height: 18px;
	position: relative;
	width: 80px;
	color: #fff;
	border-radius: 3px;
	background: #ee3643;
	text-decoration: none;
}
.new-price:after {
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  content: '';
  border: 20px solid #fff;
  border-left-color: #ee3643;
}
.producers {
  font-size: 0;
}
.popular-producers .popular-heading {
  padding-left: 24px;
}
.producer-link {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  position: relative;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
}
.producer-link:hover {
  -webkit-box-shadow: 0 10px 25px #abafb8;
  -moz-box-shadow: 0 10px 25px #abafb8;
  box-shadow: 0 10px 25px #abafb8;
}
.producer-link:active {
  -webkit-box-shadow: 0 5px 10px #abafb8;
  -moz-box-shadow: 0 5px 10px #abafb8;
  box-shadow: 0 5px 10px #abafb8;
  opacity: 0.3;
}
.producer-link:nth-child(4n) {
  margin-right: 0;
}
.producer-link img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bosch img {
  top: 49%;
}
.makita img, .dewalt img {
  top: 48%;
}
.interskol img {
  top: 45%;
}
.hitachi .img {
  left: 51px;
}
.lg img {
  top:49%;
  left:49%;
}
.aeg img {
  top:49%;
}
.metabo img {
  top: 47%;
  left: 51%;
}
.service {
  padding-top: 67px;
}
.service h3, .service p {
  width: 400px;
}
.service-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
  font-weight: 400;
}
.service-text {
  margin: 0;
  padding-bottom: 35px;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}
.benifits {
  background-color: #f2f6f8;
}

.benifits-slider {
  min-height: 285px;
  font-size: 0;
  position: relative;
  overflow: hidden;
}
.benifits-slider input[type=radio] {
  display: none;
}
.benifits-slides {
	float: right;
	width: 620px;
}
.benifits-slider-controls {
  float: left;
  width: 240px;
  height: 180px;
  padding: 30px 0;
  padding-top: 37px;
  font-size: 21px;
  line-height: 30px;
  margin-right: 80px;
  position: relative;
}
.benifits-slider-controls label {
  display: inline-block;
  height: 60px;
  min-width: 240px;
  cursor: pointer;
  padding-top: 13px;
  padding-left: 22px;
  box-sizing: border-box;
  background-color: #32425c;
  color: #fff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;

}
.benifits-slider-controls:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: transparent url("../img/sprite.png") no-repeat;
  width: 10px;
  height: 272px;
  background-position: -20px -2286px;
}
.benifits-slider-controls label:hover {
  background-color: #293449;
}

.slider-delivery, .slider-guarantee, .slider-credit{
  padding-top: 30px;
  display: none;
  top: 0;
  left: 320px;
  width: 620px;
  height: 288px;

  -webkit-transition: left 0.3s ease;
     -moz-transition: left 0.3s ease;
          transition: left 0.3s ease;

  vertical-align: top;

  font-size: 13px;
  line-height: 24px;
}

#btn-delivery:checked ~ .benifits-slides .slider-delivery {
  display: inline-block;
}

#btn-delivery:checked ~ .benifits-slides .slider-guarantee {
  display: none;
}
#btn-delivery:checked ~ .benifits-slides .slider-credit {
  display: none;
}

#btn-guarantee:checked ~ .benifits-slides .slider-delivery {
  display: none;
}

#btn-guarantee:checked ~ .benifits-slides .slider-guarantee {
  display: inline-block;
}
#btn-guarantee:checked ~ .benifits-slides .slider-credit {
  display: none;
}
#btn-credit:checked ~ .benifits-slides .slider-delivery {
  display: none;
}

#btn-credit:checked ~ .benifits-slides .slider-guarantee {
  display: none;
}
#btn-credit:checked ~ .benifits-slides .slider-credit {
  display: inline-block;
}
#btn-delivery:checked ~ .benifits-slider-controls label[for="btn-delivery"],
#btn-guarantee:checked ~ .benifits-slider-controls label[for="btn-guarantee"],
#btn-credit:checked ~ .benifits-slider-controls label[for="btn-credit"] {
  background-color: #fff;
  color: #32425c;
  border-top: none;
  border-bottom: none;
}

.slider-delivery {
  background-image: url(../img/slider-delivery.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}
.slider-guarantee {
  background-image: url(../img/slider-guarantee.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}
.slider-credit {
  background-image: url(../img/slider-credit.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}
.slider-delivery h3, .slider-guarantee h3, .slider-credit h3 {
  width: 277px;
  margin: 0;
  margin-bottom: 27px;
  margin-top: 1px;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
}
.slider-delivery p, .slider-guarantee p, .slider-credit p {
  width: 277px;
  margin: 0;
}
.index-content {
  font-size: 0;
  margin-top: 82px;
  margin-bottom: 86px;
}
.index-content-about {
  display: inline-block;
  vertical-align: top;
  margin-right: 100px;
  width: 540px;
  font-size: 13px;
  line-height: 24px;
}
.index-content-contact {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  font-size: 13px;
  line-height: 24px;
  position: relative;
}
.about-title, .contact-title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
  font-weight: 400;
}
.about-text, .contact-text, .about-delivery-text {
  margin: 0;
  font-size: 13px;
  list-style: 24px;
  color: #000000;
}
.about-delivery-text {
  display: block;
  margin-top: 24px;
  width: 390px;

}
.contact-text {
  width: 180px;
}
.about-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 18px;
}
.about-list li {
  position: relative;
  margin-bottom: 16px;
  padding-left: 36px;
  font-size: 18px;
  list-style: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
  font-weight: 400;
}
.about-list li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}
.index-content-contact img {
  margin-top: 31px;
}
.full-map {
  display: none;
  top: -49px;
  right: 0;
  position: absolute;
  z-index: 100;
  background: url("../img/map-full.jpg") no-repeat;
  width: 940px;
  height: 446px;
  background-position: center top;
  -webkit-box-shadow: 0 0px 25px #abafb8;
  -moz-box-shadow: 0 0px 25px #abafb8;
  box-shadow: 0 0px 25px #abafb8;
}
.full-map-close {
  position: absolute;
  top: 8px;
  right: 9px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.full-map-close::before,
.full-map-close::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 6px;
  top: 8px;
  right: -3px;
  background-color: #ee3643;
  border-radius: 1px;
}
.full-map-close::before {
  transform: rotate(45deg);
}
.full-map-close::after {
  transform: rotate(-45deg);
}

.about-btn, .contact-btn {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ee3643;
  color: #ffffff;
  border-radius: 2px;
}
.about-btn {
  margin-top: 19px;
}
.contact-btn {
  min-width: 300px;
  margin-top: 32px;
  box-sizing: border-box;
  padding-left: 64px;
  padding-right: 59px;
}
.about-btn:hover, .contact-btn:hover {
  background-color: #ca2c37;
}
.about-btn:active, .contact-btn:active {
  background-color: #ba2732;
}
/*Footer*/
.footer-logo {
  float: left;
  width: 220px;
  background-color: #ee3643;
  box-shadow: 0px 5px 0px 0px #9c2730;
}
.footer-logo-text {
  display: block;
  margin-left: 41px;
  margin-right: 40px;
  margin-top: 18px;
  margin-bottom: 15px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-size: 30px;
  line-height: 30px;
}
.footer-topblock, .footer-middleblock {
  background-color: #32425c;
}
.footer-middleblock {
  padding-bottom: 50px;
}
.footer-links {
  float: right;
  min-width: 560px;
  margin-top: 37px;
}
.footer-middleblock .footer-links {
  margin-top: 32px;
}
.footer-link-white {
  float: right;
  min-width: 50px;
  margin-left: 59px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  color: #fff;
}
.footer-link-white:hover, .footer-link-yellow:hover {
  text-decoration: underline;
}
.footer-link-white:active, .footer-link-yellow:active {
  opacity: 0.5;
}
.footer-link-yellow {
  float: right;
  min-width: 50px;
  margin-left: 64px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  color: #ffd180;
}

.footer-contact {
  float: left;
  width: 330px;
  margin-top: 32px;
  margin-left: 3px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #fff;

}
.footer-bottomblock {
  padding-top: 35px;
  padding-bottom: 30px;
  font-size: 0;
  background-color: #293449;
}
.copyright {
  display: inline-block;
  vertical-align: top;
  width: 240px;
  margin-right: 150px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  font-weight: normal;
}
.social-network {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  width: 131px;
  margin-right: 119px;
}
.social-btn {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;

}
.social-btn {
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  text-align: left;
  margin-right: 5px;
  position: relative;
}
.social-btn:nth-child(3n){
  margin-right: 0;
}
.social-btn:hover{
  background-color: #ee3643;
}
.social-btn:active{
  background-color: #ee3643;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent url("../img/sprite.png") no-repeat;
  transform: translate(-50%, -50%);
}

.social-btn-vk::before {
  width: 20px;
  height: 12px;
  background-position: -20px -2135px;
}
.social-btn-fb::before {
  width: 10px;
  height: 18px;
  background-position: -20px -1124px;
}
.social-btn-inst::before {
  width: 17px;
  height: 17px;
  background-position: -20px -1234px;
}
.callback-text {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  margin-right: 49px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}
.madeby-text {
  display: inline-block;
  vertical-align: top;
  width: 111px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}
.callback-mail, .madeby-site{
  text-decoration: none;
  color: #ffd180;
}
.callback-mail:hover, .madeby-site:hover {
  text-decoration: underline;
}
.callback-mail:active, .madeby-site:active {
  color: #ee3643;
}
/*popup*/
.write-us {
  display: none;
  width: 620px;
  height: 430px;
  position: absolute;
  margin-left:0;
  top: 2520px;
  left: 25%;
  padding:0;
  color: #000000;
  background: #ffffff;
  box-shadow:;
  box-sizing: border-box;
  border-top: 7px solid #ee3643;
}
.write-us-close {
  position: absolute;
  top: 8px;
  right: 9px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background-color: #ffffff;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.write-us-close::before,
.write-us-close::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 6px;
  top: 8px;
  right: -3px;
  background-color: #ee3643;
  border-radius: 1px;
}
.write-us-close::before {
  transform: rotate(45deg);
}
.write-us-close::after {
  transform: rotate(-45deg);
}
.letter-form {
  width: 620px;
  font-size: 0;
  -webkit-box-shadow: 0 10px 25px #000101;
  -moz-box-shadow: 0 10px 25px #000101;
  box-shadow: 0 10px 25px #000101;
}
.form-datas {
  display: inline-block;
  width: 460px;
  height: 268px;
  vertical-align: top;
  font-size: 0;
  margin-top: 42px;
  margin-left: 80px;
}
.form-data-name, .form-data-email, .form-data-comment {
  width: 220px;
  display: inline-block;
  margin-right: 20px;
  font-size: 18px;
}
.form-data-comment {
  margin-top: 18px;
}
.form-data-name label, .form-data-email label, .form-data-comment label {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.form-data-name input, .form-data-email input, .form-data-comment textarea {
  margin-top: 7px;
  padding-top: 8px;
  padding-left: 14px;
  box-sizing: border-box;
  padding-bottom: 8px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-family: "PT Sans", "Arial", sans-serif;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}
.form-data-name input, .form-data-email input {
  width: 220px;
}
.form-data-email, .form-data-comment {
  margin-right: 0;
}
.form-data-comment {
  width: 460px;
}
.form-data-comment textarea {
  width: 460px;
  height: 114px;
  box-sizing: border-box;
  color: #999999;
}

.send-form {
  display: inline-block;
  width: 620px;
  height: 112px;
  font-size: 18px;
  background-color: #f1f1f1;
}
.send-form input {
  width: 460px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 37px;
  margin-left: 80px;
  margin-bottom: 25px;
  vertical-align: top;
  text-align: center;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ee3643;
  color: #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
  border: none;
}
/*catalog.html*/
.user {
  display: inline-block;
  font-size: 21px;
  width: 300px;
  max-height: 45px;
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 47px;
  margin-bottom: 6px;
  color: #000;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  text-decoration: none;
  box-sizing: border-box;
  background: #fff url("../img/sprite.png") no-repeat;
  background-position: -5px -1948px;
  cursor: pointer;
}
.user:hover {
  background-position: -5px -2064px;
}
.user:active {
  color: #cacaca;
  background-position: -5px -2006px;
}
.logout {
  content: "";
  position: absolute;
  background: url("../img/sprite.png") no-repeat;
  width: 21px;
  height: 17px;
  background-position: -20px -2668px;
  top: 13px;
  right: 10px;
}
.logout:hover {
  width: 21px;
  height: 17px;
  background-position: -20px -2725px;
}
.logout:active {
  width: 21px;
  height: 17px;
  background-position: -20px -2782px;
}

.orders {
  display: inline-block;
  padding-left: 18px;
  color: #32425c;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
}
.member-ledger {
  display: inline-block;
  padding-left: 15px;
  color: #32425c;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
}
.orders:hover, .member-ledger:hover {
  color: #ee3643;
}
.orders:active, .member-ledger:active {
  color: #c5cad0;
}
.member-ledger::before {
  content: "";
  display:inline-block;;
  background-color: #32425c;
  width: 4px;
  height: 5px;
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
  margin-right: 13px;
}
.catalog-main-content {
  margin-top: 19px;
}

.filter {
  float: left;
  width: 220px;
  margin-right: 20px;
}
/*ПОЛЗУНКИ*/
.range-filter {
  width: 220px;
  margin: 15px auto;
  margin-bottom: 25px;
}
.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 8px;
  border-radius: 3px;
  background: #f7f3ec;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
  left: 20px;
}
.range-controls .toggle-max {
  left: 160px;
}


.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
  position: relative;
}
.max-price::before {
  content: "";
  position: absolute;
  top: 19px;
  left: -4px;
  width: 9px;
  height: 1px;
  background-color: #444444;
}

.price-controls input {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-family: "PT Sans", "Arial", sans-serif;
  width: 60px;
  margin-left: 0;
  padding: 10px 17px;
  padding-left: 18px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 3px;
  outline: none;
  background: #f7f3ec;
}




.sort-catalog {
  float: right;
  width: 700px;
}
.breadcrumb {
  padding-left: 0;
  font-size: 0;
  list-style: none;
  margin-bottom: 14px;
}
.breadcrumb-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.breadcrumb-link {
  padding-left: 40px;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}
.breadcrumb-item:nth-child(n+2)::before {
  content: "";
  display: block;
  position: absolute;
  vertical-align: top;
  cursor: pointer;
  top: 4px;
  left: 16px;
  background: url('../img/sprite.png') no-repeat;
  width: 8px;
  height: 12px;
  background-position: -20px -1681px;
}
.breadcrumb-item:first-child {
  content: "";
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  top: 0;
  left: 0;
  background: url('../img/sprite.png') no-repeat;
  width: 15px;
  height: 18px;
  background-position: -20px -1179px;
}
.product-group {
  background-color: #f2f6f8;
  margin-bottom: 20px;
}
.product-group-title {
  margin: 0;
  padding-top: 31px;
  padding-left: 27px;
  padding-bottom: 33px;
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
  color: #32425c;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
}
.filter-title-container {
  display: block;
  background-color: #f7f3ec;
  margin-bottom: 13px;
}
.filter-title {
  display: inline-block;
  margin-left: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.form-producers, .supply-producers {
  font-size: 0;
}
.form-producers {
  margin-top: 16px;
  margin-bottom: 17px;
padding-bottom: 2px;
  border-bottom: 1px solid #e5e5e5;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.form-range {
  padding-bottom: 0;
  border-bottom: 1px solid #e5e5e5;
}
.form-heading {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
input[type="checkbox"] + label, input[type="radio"] + label {
  display: block;
  margin-bottom: 20px;
  margin-top: 14px;
  padding-left: 35px;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 20px;
  position: relative;
}
input[type="checkbox"], input[type="radio"] {
  display: none;
}
input[type="checkbox"] + label::before {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  background: url('../img/sprite.png') no-repeat;
  width: 23px;
  height: 23px;
  background-position: -20px -356px;
}
input[type="checkbox"] + label:hover::before {
  width: 23px;
  height: 23px;
  background-position: -20px -482px;
}
input[type="checkbox"]:checked + label::before{
  width: 27px;
  height: 23px;
  background-position: -20px -545px;
}
input[type="checkbox"]:checked + label:hover::before {
  width: 27px;
  height: 23px;
  background-position: -20px -671px;
}
input[type="radio"] + label::before {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  background: url('../img/sprite.png') no-repeat;
  width: 25px;
  height: 25px;
  background-position: -20px -734px;
}
input[type="radio"] + label:hover::before {
  width: 25px;
  height: 25px;
  background-position: -20px -1059px;
}
input[type="radio"]:checked + label::before{
  width: 25px;
  height: 25px;
  background-position: -20px -864px;
}
input[type="radio"]:checked + label:hover::before {
  width: 25px;
  height: 25px;
  background-position: -20px -994px;
}
.filter-form input[type="submit"] {
  display: inline-block;
  width: 140px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-top: 59px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort {
  display: block;
  margin-bottom: 20px;
  background-color: #f7f3ec;
  font-size: 0;
}
.sort-text{
  display: inline-block;
  margin-left: 18px;
  margin-right: 140px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.sort-menu {
  display: inline-block;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sort-menu-item {
  display: inline-block;
  vertical-align: top;
}
.by-price, .by-type, .by-function {
  font-size: 13px;
  line-height: 18px;
  color: #c4c1bb;
  text-transform: uppercase;
  text-decoration: underline dotted #ee3643;
}
.by-price:hover, .by-type:hover, .by-function:hover {
  color: #000;
  text-decoration: underline #ee3643;
}
.by-price:active, .by-type:active, .by-function:active {
  color: #ee3643;
  text-decoration: none;
}

.by-price {
  margin-right: 71px;
}
.by-type {
  margin-right: 65px;
}
.by-function {
  margin-right: 46px;
}
.triangles {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}
.triangle-up, .triangle-down {
  display: inline-block;
}
.triangle-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #c6c2bd;
}
.triangle-down {
  margin-right: 21px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #c6c2bd;
}
.triangle-up:hover {
  border-top: 10px solid #000000;
}
.triangle-down:hover {
  border-bottom: 10px solid #000000;
}
.triangle-up:active {
  border-top: 10px solid #ee3643;
}
.triangle-down:active {
  border-bottom: 10px solid #ee3643;
}
.catalog {
  margin-bottom: 60px;
}
/*.catalog .new-price {
  margin-top: 6px;
}*/
.catalog-items {
  margin-bottom: 35px;
}
.pagination {
 font-size: 0;
}
.active-page {
  display: inline-block;
  width: 38px;
  margin-right: 10px;
  font-size: 13px;
  background-color: #ee3643;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  outline: none;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.page2, .page3 {
  display: inline-block;
  width: 38px;
  margin-right: 10px;
  font-size: 13px;
  border: 1px solid #e5e5e5;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  box-sizing: border-box;
}
.next {
  display: inline-block;
  width: 140px;
  margin-right: 10px;
  font-size: 13px;
  border: 1px solid #e5e5e5;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  box-sizing: border-box;
}
.page2:hover, .page3:hover, .next:hover {
  border: 1px solid #bdc6ca;
}
.page2:active, .page3:active, .next:active {
  border: 1px solid #ee3643;
}
.about-perforators {
  padding-top: 67px;
  padding-bottom: 66px;
  background-color: #f2f6f8;
}
.about-perforators-title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
  font-weight: 400;
}
.about-perforators-text {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
  color: #000000;
}
/*cart*/
.cart {
  display: none;
  width: 620px;
  height: 282px;
  position: fixed;
  padding-top: 48px;
  border-top: 7px solid #ee3643;
  box-sizing: border-box;
  background: #fff;
  top: 0;
  left: 0;
}
.cart-text {
  margin-top: 19px;
  font-size: 30px;
  padding-left: 35px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  display: inline-block;
}

.cart-close {
  position: absolute;
  top: 8px;
  right: 9px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.cart-close::before,
.cart-close::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 6px;
  top: 8px;
  right: -3px;
  background-color: #ee3643;
  border-radius: 1px;
}
.cart-close::before {
  transform: rotate(45deg);
}
.cart-close::after {
  transform: rotate(-45deg);
}

.cart-message {
  width: 620px;
  height: 115px;
  position: relative;
  font-size: 0;
}
.checkpoint {
  width: 65px;
  height: 65px;
  background-color: #63a63e;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  margin-left: 80px;
  position: relative;
}
.checkpoint::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 15px;
  background: transparent url("../img/sprite.png") no-repeat;
  width: 39px;
  height: 30px;
  background-position: -20px -2598px;
}
.cart-buttons {
  max-width: 620px;
  height: 112px;
  font-size: 0;
  background: #f1f1f1;
  padding-left: 80px;
  padding-top: 37px;
}
.cart-buttons a {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 219px;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.cart-buttons a:last-child{
  margin-left: 20px;
}
.make-order {
  color: #fff;
  background-color: #ee3643;
}
.continue-shopping {
  color: #000;
  background-color: #fff;
}

/** {
  outline: 1px dashed red;
}*/
