body {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-family: "PT Sans", "Arial", sans-serif;

}
.container {
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.header-topblock {
  font-size: 0;
}
.logo {
  display: inline-block;
  vertical-align: top;
  font-size: 24px;
  line-height: 24px;
  width: 220px;
}
.logo-text {
  margin-left: 55px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.search {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  line-height: 18px;
  width: 270px;
}
.search-form input {
  width: 270px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
}
.bookmark, .basket, .order {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  line-height: 18px;
  width: 150px;
}
.bookmark a, .basket a, .order a{
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
}
.header-middleblock {
  font-family: "Cuprum", "Arial", sans-serif;
}
.header-text {
  float: left;
  width: 205px;
  margin-left: 50px;
  margin-top: 0;
  vertical-align: top;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}
.header-contacts {
  float: left;
  width: 270px;
  margin-left: 65px;
  margin-right: 50px;
}
.header-phone {
  margin: 0;
  width: 270px;
  height: 45px;
  font-size: 21px;
  line-height: 18pt;
  border: 3px solid white;
  box-sizing: border-box;
}
.header-address {
  margin: 0;
  font-size: 14px;
  line-height: 24pt;
}
.user-block {
  float: right;
  max-width: 300px;
  font-size: 0;
}
.singin {
  display: inline-block;;
  width: 120px;
  height: 45px;
  text-decoration: none;
  font-size: 21px;
  line-height: 18px;
}
.signup {
  display: inline-block;
  width: 150px;
  height: 45px;
  margin-left: 10px;
  text-decoration: none;
  font-size: 21px;
  line-height: 18px;
}

.menu-list {
  font-size: 0;
  list-style: none;
}
.menu-item {
  display: inline-block;
  vertical-align: top;
}
.menu-link {
  font-size: 17px;
  line-height: 17px;
  text-decoration: none;
}
.main-content {
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.catalog-content {
  margin-bottom: 53px;
}
.column-left {
  float: left;
  width: 620px;
  font-size: 0;
}
.column-right {
  float: right;
  width: 300px;
  font-size: 0;
}
.catalog-part {
  display: inline-block;
  width: 300px;
  min-height: 123px;
  font-size: 14px;
  margin-bottom: 20px;
}
.catalog-part:last-child {
  margin-bottom: 0;
}
.materials {
  margin-right: 20px;
  background-color: #f6b22d;
  background-image: url(../img/materials.png);
  background-position: 90% 50%;
  background-repeat: no-repeat;
}
.tools{
  background-color: #4aafde;
  background-image: url(../img/tools.png);
  background-position: 90% 50%;
  background-repeat: no-repeat;
}
.catalog-sliders {
  display: inline-block;
  width: 620px;
  height: 266px;
  vertical-align: top;
  font-size: 14px;
}
.slide-1{
  height: 266px;
  background-image: url(../img/slide1.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}
.slider-name {
  display: inline-block;
}
.slide-2 {
  display: none;
  height: 266px;
  background-image: url(../img/slide2.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}
.popular-producers {
  margin-bottom: 85px;
}
.popular-block {
  margin-bottom: 20px;
}
.popular-heading {
  float: left;
  min-width: 480px;
  margin: 0;
}
.popular-btn {
  float: right;
  min-width: 253px;
}
.actions {
  display: none;
  background-color: #ffffff;
  width: 135px;
  height: 83px;
  font-size: 0;
}
.actions a {
  display: inline-block;
  font-size: 14px;
  width: 135px;
}
.index-catalog-items, .catalog-items {
  font-size: 0;
}
.catalog-item {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  font-size: 0;
  max-width: 220px;
}
.index-catalog-items .catalog-item:nth-child(4n) {
  margin-right: 0;
}
.catalog-items .catalog-item:nth-child(3n) {
  margin-right: 0;
}
.catalog-item img {
  display: block;
  margin: 0 auto;
}
.item-name {
  font-size: 18px;
  line-height: 20px;
}
.old-price {
  display: inline-block;
  width: 220px;
  font-size: 18px;
  line-height: 20px;
}
.new-price {
  display: inline-block;
  width: 220px;
  font-size: 18px;
  line-height: 20px;
}
.producers {
  font-size: 0;

}
.producer-link {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  height: 145px;
  margin-right: 20px;
  font-size: 18px;
  position: relative;
}
.producer-link:nth-child(4n) {
  margin-right: 0;
}
.producer-link img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.service h3, .service p {
  width: 400px;
  margin: 0;
}
.benifits-slider {
  font-size: 0;
  position: relative;
}
.benifits-slider input[type=radio] {
  position: absolute;
  display: none;
}

.benifits-slider-controls {
  display: inline-block;
  vertical-align: top;
  width: 240px;
  font-size: 21px;
  line-height: 30px;
  margin-right: 80px;
}
.benifits-slider-controls label {
  display: block;
  height: 60px;
  min-width: 240px;
}
.slider-delivery, .slider-guarantee, .slider-credit{
  display: inline-block;
  vertical-align: top;
  width: 620px;
  height: 285px;
  font-size: 13px;
  line-height: 24px;
}
.slider-guarantee, .slider-credit {
  display: none;
}
.slider-delivery h3, .slider-guarantee h3, .slider-credit h3 {
  width: 277px;
}
.slider-delivery p, .slider-guarantee p, .slider-credit p {
  width: 277px;
}
.index-content {
  font-size: 0;
}
.index-content-about {
  display: inline-block;
  vertical-align: top;
  margin-right: 100px;
  width: 540px;
  font-size: 13px;
  line-height: 24px;
}
.index-content-contact {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  font-size: 13px;
  line-height: 24px;
}
/*Footer*/
.footer-logo {
  float: left;
  width: 220px;
}
.footer-links {
  float: right;
  width: 560px;
}
.footer-link-white {
  float: right;
  margin-left: 60px;
}
.footer-link-yellow {
  float: right;
  margin-left: 60px;
}
.footer-contact {
  float: left;
  width: 330px;
}
.footer-bottomblock {
  font-size: 0;
}
.copyright {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  width: 230px;
  margin-right: 160px;
}
.social-network {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  width: 131px;
  margin-right: 119px;
}
.social-btn {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;

}
.callback-text {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  width: 140px;
  margin-right: 49px;
}
.madeby-text {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  width: 111px;
}
/*popup*/
.write-us {
  display: none;
  width: 620px;
  height: 430px;
  position: absolute;
  margin-left:0;
  top: 0;
  left: 0;
  padding:0;
  color: #000000;
  background: #ffffff;
  box-shadow:;
  box-sizing: border-box;
}
.write-us-close {
  position: absolute;
  top: 19px;
  right: 6px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background-color: #ffffff;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.write-us-close::before,
.write-us-close::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 6px;
  top: 8px;
  right: -3px;
  background-color: #ee3643;
  border-radius: 1px;
}
.write-us-close::before {
  transform: rotate(45deg);
}
.write-us-close::after {
  transform: rotate(-45deg);
}
.letter-form {
  width: 620px;
  font-size: 0;
}
.form-datas {
  display: inline-block;
  width: 460px;
  height: 263px;
  vertical-align: top;
  font-size: 0;
  margin-top: 55px;
  margin-left: 80px;
}
.form-data-name, .form-data-email, .form-data-comment{
  width: 220px;
  display: inline-block;
  margin-right: 20px;
  font-size: 18px;
}
.form-data-email, .form-data-comment {
  margin-right: 0;
}
.form-data-comment {
  width: 460px;
}
.form-data-comment textarea {
  width: 460px;
  height: 114px;
  box-sizing: border-box;
}

.send-form {
  display: inline-block;
  width: 620px;
  height: 112px;
  font-size: 18px;
}
/*catalog.html*/
.user {
  display: inline-block;
  font-size: 21px;
  width: 300px;
}
.orders {
  display: inline-block;
  font-size: 16px;
}
.member-ledger {
  display: inline-block;
  font-size: 16px;
}
.filter {
  float: left;
  width: 220px;
  margin-right: 20px;
}
.sort-catalog {
  float: right;
  width: 700px;
}
.breadcrumb {
  font-size: 0;
  list-style: none;
}
.breadcrumb-item {
  display: inline-block;
  vertical-align: top;
}
.breadcrumb-link {
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
}

.form-producers, .supply-producers {
  font-size: 0;
}
.form-heading {
  font-size: 17px;
  line-height: 30px;
}
.form-item {
  display: block;
  font-size: 14px;
}
.sort {
  font-size: 0;
}
.sort-text{
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
}
.sort-menu {
  display: inline-block;
  font-size: 0;
  width: 380px;
}
.sort-menu-item {
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
}
.triangles {
  display: inline-block;
  font-size: 0;
}
.triangle-up, .triangle-down {
}
/*cart*/
.cart {
  display: none;
  width: 620px;
  height: 282px;
  position: relative;
}
.cart-text {
  font-size: 30px;
  line-height: 18px;
  padding-left: 179px;
}
.cart-close {
  position: absolute;
  top: 0;
  right: 0;
}
.cart-message {
  width: 620px;
  height: 170px;

}
.cart-buttons {
  width: 620px;
  height: 112px;
  font-size: 0;

}
.cart-buttons a {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  height: 38px;
  margin-left: 80px;
  margin-top: 37px;
  font-size: 14px;
  line-height: 18px;
}
.cart-buttons a:last-child{
  margin-left: 20px;
}
* {
  outline: 1px dashed red;
}
